* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "TT Norms Pro", sans-serif;
  font-style: normal;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
  font-family: "TT Norms Pro", sans-serif;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main_container {
  max-width: 1061px;
  padding: 0 15px;
  margin: 0 auto;
}

.modal_bg {
  display: none;
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal_bg.active {
  display: block;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  border-radius: 12px;
  padding: 24px 48px;
  z-index: 5;
  background: rgb(255, 255, 255);
  text-align: center;
}
.modal h6 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-bottom: 40px;
}
.modal p {
  color: rgb(67, 67, 67);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 40px;
}
.modal .main_btns {
  border-radius: 12px;
  background: rgb(243, 243, 243);
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}
.modal .main_btns label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  padding: 16px;
  border: 2px solid rgb(205, 205, 205);
  border-radius: 8px;
  transition: 0.2s ease;
}
.modal .main_btns label:hover {
  background: linear-gradient(#fff 0 0) padding-box, linear-gradient(135deg, rgb(141, 198, 83), rgb(30, 181, 145)) border-box;
  color: #313149;
  border: 2px solid transparent;
}
.modal .main_btns label input {
  display: none;
}
.modal .main_btns label.active {
  background: linear-gradient(#fff 0 0) padding-box, linear-gradient(135deg, rgb(141, 198, 83), rgb(30, 181, 145)) border-box;
  color: #313149;
  border: 2px solid transparent;
}
.modal .bottom_btns {
  display: flex;
  gap: 8px;
}
.modal .bottom_btns button {
  flex: 1;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  padding: 12px 20px;
  border-radius: 12px;
}
.modal .bottom_btns .left_btn {
  background: linear-gradient(135deg, rgb(1, 150, 216) 0%, rgb(30, 181, 136) 100%);
}
.modal .bottom_btns .right_btn {
  background: rgb(119, 119, 119);
}

.modal_main {
  display: none;
}

.modal_main.active {
  display: block;
}

.modal_fine {
  display: none;
}
.modal_fine .bottom_btns {
  display: block;
}
.modal_fine .left_btn {
  min-width: 180px;
}

.modal_fine.active {
  display: block;
}

.modal_close {
  display: none;
}
.modal_close .bottom_btns {
  display: block;
}
.modal_close .right_btn {
  min-width: 180px;
}

.modal_close.active {
  display: block;
}

.bottom_notification {
  width: 100%;
  position: fixed;
  z-index: 3;
  bottom: 0;
  background: white;
}
.bottom_notification .main_container {
  padding: 15px;
  border-top: 1px solid rgb(205, 205, 205);
  display: flex;
  align-items: center;
  gap: 30px;
}
.bottom_notification .bottom_notification_text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom_notification h6 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.bottom_notification h6 del {
  text-decoration-line: line-through;
  color: rgb(202, 49, 49);
  margin-right: 8px;
}
.bottom_notification .bottom_notification_btns {
  margin-left: auto;
  display: flex;
  gap: 8px;
}
.bottom_notification .bottom_notification_btns button {
  white-space: nowrap;
  padding: 0 20px;
  height: 48px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  border-radius: 12px;
}
.bottom_notification .bottom_notification_btns .notification_one_btn {
  background: linear-gradient(135deg, rgb(1, 150, 216) 0%, rgb(30, 181, 136) 100%);
}
.bottom_notification .bottom_notification_btns .notification_two_btn {
  background: rgb(119, 119, 119);
}

header {
  margin: 30px 0 12px 0;
}
header .main_container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
header h1 {
  max-width: 410px;
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
}
header .header_logo {
  padding: 10px 48px;
  background-color: #F3F3F3;
  border-radius: 12px;
}

.header_under .main_container .header_under_btn {
  display: block;
  margin-left: auto;
  color: rgb(67, 67, 67);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.header_under .main_container .header_under_btn img {
  transition: 0.2s ease;
  transform: rotate(-360deg);
}
.header_under .main_container .header_under_btn.active img {
  transform: rotate(180deg);
}
.header_under .main_container .header_under_content {
  margin-top: 16px;
  overflow: hidden;
  position: relative;
  z-index: -1;
  opacity: 0;
  height: 0;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: 0.2s ease;
}
.header_under .main_container .header_under_content li {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.header_under .main_container .header_under_content.active {
  padding: 16px;
  height: auto;
  opacity: 1;
}

.user_top {
  margin: 24px 0;
}
.user_top .user_top_content {
  border-radius: 12px;
  background: rgb(230, 235, 239);
  position: relative;
  padding: 16px;
}
.user_top .message_icon {
  position: absolute;
  left: 16px;
  bottom: -8px;
}
.user_top p {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
.user_top .user_mini {
  margin-top: 16px;
  display: flex;
  align-items: start;
  gap: 20px;
}
.user_top .user_mini h6 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 2px;
}
.user_top .user_mini span {
  color: rgb(115, 115, 115);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.user {
  margin-bottom: 80px;
}
.user .main_container {
  display: flex;
  align-items: start;
  gap: 16px;
}
.user .user_media_block {
  display: none;
}
.user .user_img {
  min-width: 120px;
}
.user h6 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 6px;
}
.user span {
  color: rgb(115, 115, 115);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
.user .user_text_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.user .tel_btn {
  width: 175px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  padding: 12px;
  border: 2px solid rgb(140, 140, 140);
  border-radius: 12px;
}
.user .whatsapp_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#fff 0 0) padding-box, linear-gradient(135deg, rgb(141, 198, 83), rgb(30, 181, 145)) border-box;
  color: #313149;
  border: 2px solid transparent;
  border-radius: 12px;
}
.user .whatsapp_btn span {
  background: linear-gradient(135deg, rgb(141, 198, 83), rgb(30, 181, 145));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  padding: 0 20px;
}
.user .user_text_title_right {
  display: flex;
  gap: 8px;
}
.user p {
  color: rgb(67, 67, 67);
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.commercial_offer .commercial_offer_title {
  margin-bottom: 24px;
}
.commercial_offer .commercial_offer_title h5 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-bottom: 12px;
}
.commercial_offer .commercial_offer_title p {
  color: rgb(67, 67, 67);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.commercial_offer .commercial_offer_cards {
  display: flex;
  gap: 8px;
  align-items: stretch;
  border-radius: 12px;
  background: rgb(243, 243, 243);
  padding: 8px;
  margin-bottom: 24px;
}
.commercial_offer .commercial_offer_card {
  flex: 1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
}
.commercial_offer .commercial_offer_card h4 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.commercial_offer .commercial_offer_card p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.commercial_offer .one {
  background: linear-gradient(225deg, rgb(40, 102, 225), rgb(38, 154, 239) 100%);
}
.commercial_offer .two {
  background: linear-gradient(225deg, rgb(147, 83, 198), rgb(199, 127, 244) 100%);
}
.commercial_offer .three {
  background: linear-gradient(42.8deg, rgb(1, 150, 216) -0.843%, rgb(1, 216, 216) 100%);
}
.commercial_offer .commercial_offer_content {
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 16px;
  background: rgb(243, 243, 243);
}
.commercial_offer .commercial_offer_content ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgb(217, 217, 217);
}
.commercial_offer .commercial_offer_content .offer_content_center {
  padding-top: 12px;
}
.commercial_offer .commercial_offer_content .offer_content_bottom {
  padding-top: 12px;
  border-bottom: 0;
  padding-bottom: 0;
}
.commercial_offer .commercial_offer_content li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.commercial_offer .commercial_offer_content span {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.commercial_offer .commercial_offer_content .green_text {
  color: rgb(22, 162, 19);
}
.commercial_offer .commercial_offer_content h6 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.commercial_offer .commercial_offer_content h6 del {
  margin-right: 8px;
  color: rgb(202, 49, 49);
  text-decoration-line: line-through;
}
.commercial_offer .offer_buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.commercial_offer .offer_buttons button {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  border-radius: 12px;
  height: 48px;
}
.commercial_offer .offer_buttons .btn_one {
  background: linear-gradient(135deg, rgb(1, 150, 216) 0%, rgb(30, 181, 136) 100%);
}
.commercial_offer .offer_buttons .btn_two {
  background: rgb(119, 119, 119);
}
.commercial_offer .offer_buttons .btn_three {
  background: rgb(243, 243, 243);
  color: #000;
}

.main_slider .slider_title {
  margin: 80px 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_slider .slider_title h6 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.main_slider .swiper-wrapper .swiper-slide {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main_slider .swiper-wrapper .swiper-slide img {
  width: 100%;
}
.main_slider .swiper-wrapper .swiper-slide .play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.45);
}
.main_slider .swiper-wrapper .swiper-slide .play_btn img {
  width: 20px;
  height: 20px;
}

.list {
  margin-top: 40px;
}
.list button {
  padding: 10px 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list button h6 {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.list button h6 img {
  margin-right: 8px;
}
.list .one_list {
  margin-bottom: 24px;
}
.list ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 10px 16px 10px 40px;
}
.list ul li p, .list ul li span {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.list ul li span {
  width: 120px;
}
.list ul li span:nth-child(1) {
  text-align: center;
}
.list ul li span:nth-child(2) {
  text-align: end;
}
.list ul li:nth-child(odd) {
  background: rgb(243, 243, 243);
}

.option {
  margin: 80px 0 50px 0;
}
.option .option_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.option .option_title h6 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.option .option_cards {
  padding: 8px;
  display: flex;
  border-radius: 12px;
  background: rgb(243, 243, 243);
  gap: 8px;
  margin-bottom: 40px;
}
.option .option_cards .option_card {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 8px;
  border: 2px solid rgb(205, 205, 205);
  transition: 0.2s ease;
}
.option .option_cards .option_card h5 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.option .option_cards .option_card h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.option .option_cards .option_card:hover {
  background: linear-gradient(#fff 0 0) padding-box, linear-gradient(135deg, rgb(141, 198, 83), rgb(30, 181, 145)) border-box;
  color: #313149;
  border: 2px solid transparent;
}
.option .option_cards .option_card input {
  display: none;
}
.option .option_cards .option_card.active {
  background: linear-gradient(#fff 0 0) padding-box, linear-gradient(135deg, rgb(141, 198, 83), rgb(30, 181, 145)) border-box;
  color: #313149;
  border: 2px solid transparent;
}
.option .option_cards .one span {
  color: rgb(115, 115, 115);
}
.option .option_cards .two span {
  color: rgb(54, 203, 78);
}
.option .option_cards .three span {
  color: rgb(211, 31, 31);
}

.commercial_offer_two {
  margin: 80px 0 40px 0;
}

footer {
  margin-bottom: 100px;
}
footer .footer_links {
  display: flex;
  gap: 8px;
}
footer .footer_links a {
  border-radius: 12px;
  background: rgb(243, 243, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  height: 48px;
}
footer .footer_bottom {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer_bottom a {
  color: rgb(115, 115, 115);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

@media only screen and (max-width: 993px) {
  header .main_container {
    gap: 24px;
  }
  header h1 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
  }
  header .header_logo {
    flex-shrink: 0;
    width: 120px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .header_logo img {
    min-width: 62px;
    padding: 0;
  }
  .header_under .main_container .header_under_btn {
    margin-bottom: 12px;
  }
  .header_under .main_container .header_under_content li .addres {
    text-align: right;
  }
  .user {
    margin-bottom: 40px;
  }
  .user .main_container {
    gap: 20px;
  }
  .user h6 {
    margin-bottom: 2px;
  }
  .user .user_text_title_right {
    display: none;
  }
  .user .user_img {
    min-width: 80px;
    width: 80px;
  }
  .user .dektop_text {
    display: none;
  }
  .user .user_media_block {
    display: block;
    margin-top: 16px;
  }
  .user .user_media_block .user_btns {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .user .user_media_block .user_btns a {
    font-size: 14px;
  }
  .user .user_media_block .user_btns .whatsapp_btn {
    padding: 10px 2px;
  }
  .user .user_media_block p {
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
  }
  .commercial_offer .commercial_offer_title h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .commercial_offer .commercial_offer_title p {
    font-size: 12px;
  }
  .commercial_offer .commercial_offer_cards {
    flex-direction: column;
    background-color: transparent;
  }
  .commercial_offer .commercial_offer_card {
    gap: 12px;
  }
  .commercial_offer .commercial_offer_card h4 {
    font-size: 20px;
    line-height: 24px;
  }
  .commercial_offer .commercial_offer_card p {
    font-size: 14px;
    line-height: 17px;
  }
  .commercial_offer .commercial_offer_content span {
    font-size: 14px;
    line-height: 17px;
  }
  .commercial_offer .commercial_offer_content h6 {
    font-size: 16px;
    line-height: 19px;
  }
  .commercial_offer .offer_buttons {
    gap: 8px;
  }
  .main_slider .slider_title {
    margin: 40px 0;
  }
  .list {
    margin-top: 16px;
  }
  .list ul li {
    align-items: start;
  }
  .list ul li .list_text_end {
    display: flex;
  }
  .list ul li span {
    width: 80px;
  }
  .option {
    margin: 40px 0 32px 0;
  }
  .option .main_container {
    display: flex;
    flex-direction: column;
  }
  .option .option_title {
    margin-bottom: 24px;
    order: 1;
  }
  .option .option_title h6 {
    font-size: 16px;
    line-height: 19px;
  }
  .option #lightgallerytwo {
    order: 2;
  }
  .option .option_cards {
    margin-top: 24px;
    margin-bottom: 0;
    order: 3;
    flex-direction: column;
  }
  .option .option_cards .option_card {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
  .commercial_offer_two {
    margin: 40px 0;
  }
  .bottom_notification .main_container {
    flex-direction: column;
    gap: 24px;
  }
  .bottom_notification h6 {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
  }
  .bottom_notification .bottom_notification_btns {
    margin-left: 0;
  }
  .bottom_notification .bottom_notification_btns button {
    width: 100%;
    flex: 1;
  }
  footer .footer_links {
    flex-direction: column;
  }
  footer .footer_links a {
    padding: 12px 20px;
  }
  footer .footer_bottom {
    margin: 24px 0;
  }
}
@media only screen and (max-width: 576px) {
  .modal {
    width: calc(100% - 40px);
    padding: 24px;
  }
  .modal h6, .modal p {
    margin-bottom: 15px;
  }
  .option #lightgallerytwo .option_img {
    width: 100%;
  }
  .option #lightgallerytwo .option_img img {
    border-radius: 8px;
    height: 160px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    max-width: 100%;
  }
  .user .user_media_block .user_btns a {
    flex: 1;
  }
  .bottom_notification .bottom_notification_btns {
    width: 100%;
  }
}
@media only screen and (max-width: 380px) {
  .bottom_notification .bottom_notification_btns {
    flex-direction: column;
  }
  .bottom_notification .bottom_notification_btns button {
    min-height: 48px;
  }
}/*# sourceMappingURL=style.css.map */